---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, assumenda
    aperiam harum sint fugit corrupti tempora soluta veritatis in delectus
    omnis, fugiat deserunt neque possimus ipsum odit et sed placeat?
  </div>
</MainLayout>
